.DS_Store
/app/*.scala
logs
project/project
project/target
target
tmp
.history
newrelic
localrc
sec-init.sh
/.idea
/*.iml
*.sc
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
/.worksheet/
*.cache*

