.DS_Store
meta/app/*.scala
logs
project/project
meta/target
container.import/target
target
tmp
.history
newrelic
localrc
sec-init.sh
/.idea
/*.iml
*.sc
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
/.worksheet/
*.cache*
********.log
node_modules/
.vscode
*.zip
!/public/system/lambdas/*.zip
