<configuration>

	<logger name="com.ning.http.client" level="WARN"/>
	<logger name="scalikejdbc" level="WARN"/>
	<logger name="org.flywaydb" level="WARN"/>
	<logger name="com.zaxxer" level="INFO"/>
    <logger name="com.jolbox" level="INFO"/>
	<logger name="com.google.inject" level="WARN"/>
    <logger name="AuthorizationMethods" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="javax.management.mbeanserver" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="javax.management.misc" level="WARN"/>
    <logger name="org.asynchttpclient.netty" level="WARN"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
 		<charset>UTF-8</charset> 
      	<pattern>%-4r %highlight(%-5level) - %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>